* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    transition: transform .6s ease-in-out;
    transform: translateX(-100%);
}

.menu, .background {
    height: 100%;
}

.background {
    background-color: rgba(10, 10, 10, 45%);
    width: 70%;
}

.menu {
    background-color: white;
    width: 30%;
    transform: translateX(-100%);
}

.container.show {
    transform: translateX(0%);
}

.menu.show {
    transform: translateX(0%);
}

.filter-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.filter-header p {
    font-weight: bold;
    font-size: 1.5rem;
}

#close-button {
    background-color: transparent;
    border: none;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: .8rem;
    align-items: center;
}

.filter-button {
    width: 70%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 0.5rem;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
  }

.link {
    stroke-opacity: 0.6;
    stroke-width: 1.5px;
}


.filter-button:hover, .filter-button.clicked {
    background-color: transparent;
    border: 1px solid #bababa;
    color:#bababa;
}