* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
}

.menu, .background {
    height: 100%;
}

.background {
    background-color: rgba(10, 10, 10, 45%);
    width: 70%;
}

.menu {
    background-color: white;
    width: 30%;
}